/* it's to late to uninstall Bootstrap so i'm overwriting his classes 😔 */

#menuLabel {
    text-align: center;
    margin-bottom: 5px;

    color: #e8e8e8;
    font-weight: 500;
}

.menu {
    background-color: hsl(247, 49%, 17%);

    height: 100vh;
    width: 20vw;

    padding: 1%;
}

.nav-link {
    color: #cecece !important;
    font-weight: 500 !important;
}

.nav-link:hover {
    color: #ffffff !important;
}

.active {
    background-color: hsl(247, 49%, 27%) !important;
    color: #ffffff !important;
}
