/* it's to late to uninstall Bootstrap so i'm overwriting his classes 😔 */

#menuLabel {
    text-align: center;
    margin-bottom: 5px;

    color: #e8e8e8;
    font-weight: 500;

    background-color: hsl(247, 49%, 7%);
}

.menu {
    background-color: hsl(247, 49%, 17%);

    min-height: 100vh;
    width: 15vw;
    min-width: 15vw;
}

.nav-wrapper {
    padding: 5%;
}

.nav-link {
    color: #cecece !important;
    font-weight: 500 !important;
}

.nav-link:hover {
    color: #ffffff !important;
}

.active {
    background-color: hsl(247, 49%, 27%) !important;
    color: #ffffff !important;
}

.credits {
    padding: 2px;
    margin-top: 5px;

    color: #e8e8e8;
    font-size: 15px;
    text-align: center;

    background-color: hsla(247, 49%, 27%, 0.7);

    border-radius: 10px;

    transition-duration: 0.3s;
}

.credits:hover {
    background-color: hsla(247, 49%, 27%, 1);

    transition-duration: 0.3s;
}

.credits-link {
    color: #e8e8e8;

    transition-duration: 0.3s;
}

.credits-link:hover {
    font-size: 17px;
    transition-duration: 0.3s;
}
