.page-content {
    width: 100%;
    padding: 1% 1%;

    background-color: hsl(247, 35%, 27%);
    color: rgb(209, 209, 209);
}
.page-content-articles {
    display: grid;
    grid-template-columns: 50% 50%;
}
