.page-side {
    padding: 3%;
}

.page-side-card {
    background-color: #564bac !important;

    color: #d3d0ed !important;
}

.page-side-card-wrapper {
    padding: 2.5%;
}

.page-side-card-title {
    background-color: #413a7f !important;
}

.page-side-card-description {
    color: #d3d0ed;
    font-weight: 400;
}
.code {
    border-radius: 10px;
    font-size: small;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
}
::-webkit-scrollbar-thumb:active {
    background: #838383;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 54px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
